version: 2.1

orbs:
  # Required for feature specs.
  browser-tools: circleci/browser-tools@1.1

  # Always take the latest version of the orb, this allows us to
  # run specs against Solidus supported versions only without the need
  # to change this configuration every time a Solidus version is released
  # or goes EOL.
  solidusio_extensions: solidusio/extensions@volatile

jobs:
  run-specs-with-postgres:
    executor:
      name: solidusio_extensions/postgres
      ruby_version: "3.2"
    environment:
      FRONTEND: "/home/circleci/project/spec/solidus_frontend_app_template.rb"
      AUTHENTICATION: "devise"
    steps:
      - browser-tools/install-chrome
      - checkout
      - solidusio_extensions/dependencies
      - solidusio_extensions/run-tests-solidus-main
      - solidusio_extensions/store-test-results

  run-specs-with-mysql:
    executor:
      name: solidusio_extensions/mysql
      ruby_version: "3.1"
    environment:
      FRONTEND: "/home/circleci/project/spec/solidus_frontend_app_template.rb"
    steps:
      - browser-tools/install-chrome
      - checkout
      - solidusio_extensions/dependencies
      - solidusio_extensions/run-tests-solidus-current
      - solidusio_extensions/store-test-results
  run-specs-with-sqlite:
    executor:
      name: solidusio_extensions/sqlite
      ruby_version: "3.0"
    steps:
      - browser-tools/install-chrome
      - checkout
      - solidusio_extensions/dependencies
      - solidusio_extensions/run-tests-solidus-older
      - solidusio_extensions/store-test-results
  lint-code:
    executor: 
      name: solidusio_extensions/sqlite-memory
      ruby_version: "3.0"
    steps:
      - solidusio_extensions/lint-code

workflows:
  "Run specs on supported Solidus versions":
    jobs:
      - run-specs-with-postgres
      - run-specs-with-mysql
      - run-specs-with-sqlite
      - lint-code

  "Weekly run specs against master":
    triggers:
      - schedule:
          cron: "0 0 * * 4" # every Thursday
          filters:
            branches:
              only:
                - master
    jobs:
      - run-specs-with-postgres
      - run-specs-with-mysql
