<% if current_order.present? && cart_checkout_payment_method.present? %>
  <div id="stripe-payment-request" class="stripe-payment-request" data-v3-api="payment-request-button" style="display:none">
    <div id="payment-request-button"
      data-stripe-config="<%= cart_checkout_payment_method.stripe_config(current_order).to_json %>"
      data-order-token="<%= current_order.guest_token %>"
      data-submit-url="<%= api_checkout_path(current_order.number) %>"
      data-complete-url="<%= checkout_path %>"
      class="payment-request-button">
    </div>

    <div id="stripe_card_errors" class='errorExplanation' role="alert" style="display: none">
    </div>
  </div>
<% end %>
